language: julia
os:
  - linux
  - osx
julia:
  - 0.7
  - 1.0
  - nightly
notifications:
  email: false
# matrix:
#   allow_failures:
#   - julia: nightly
# uncomment the following lines to override the default test script
#script:
#  - if [[ -a .git/shallow ]]; then git fetch --unshallow; fi
#  - julia --check-bounds=yes -e 'Pkg.clone(pwd()); Pkg.build("StatsFuns"); Pkg.test("StatsFuns"; coverage=true)'
after_success:
  - julia -e 'using Pkg; cd(Pkg.dir("StatsFuns")); Pkg.add("Coverage"); using Coverage; Coveralls.submit(Coveralls.process_folder())';
